RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(.*)(php|htm|html|gif|jpg|gif|png|css|js|txt)$

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ /index.php/$1 [PT]
